This creates a CSV with multiple delimiters

CSV is intended for students has homework to parse into Pandas

In [1]:
import pandas
import numpy
import requests
import random

In [2]:
# https://stackoverflow.com/questions/18834636/random-word-generator-python

word_site = "http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain"

response = requests.get(word_site)
WORDS = response.content.splitlines()

In [3]:
len(WORDS)

25487

In [4]:
word_list = [x.decode('utf-8') for x in WORDS]
word_list[0:10]

['a',
 'AAA',
 'AAAS',
 'aardvark',
 'Aarhus',
 'Aaron',
 'ABA',
 'Ababa',
 'aback',
 'abacus']

In [5]:
row_ct = 1000
col_ct = 40

In [6]:
col_list=[]
for indx in range(col_ct):
    col_list.append(random.choice(word_list))

In [7]:
df = pandas.DataFrame(numpy.random.randint(0,100,size=(row_ct, col_ct)),columns=col_list)
df.shape

(1000, 40)

In [8]:
df.head()

,brutal,constitute,stardom,ate,exhort,Thessaly,template,great,narcosis,incorrect,...,sora,speedy,doghouse,emanate,meanwhile,ardent,c,inflater,blueprint,slaughter
0,98,47,62,72,69,61,58,63,80,43,...,2,13,27,75,90,69,58,11,42,66
1,23,54,14,7,50,29,65,65,2,17,...,95,55,56,92,73,45,77,14,95,74
2,41,58,39,79,24,15,42,79,5,84,...,3,49,18,15,38,6,89,6,54,90
3,53,5,96,82,72,59,62,15,56,47,...,71,23,81,68,52,67,36,3,54,75
4,97,7,72,37,14,12,55,32,84,65,...,23,22,43,76,22,27,91,79,76,17

In [9]:
for col in df.columns:
    for indx in range(df.shape[0]//2):
        df.loc[df.sample(1).index,col] = random.choice(word_list)

In [10]:
df.head()

,brutal,constitute,stardom,ate,exhort,Thessaly,template,great,narcosis,incorrect,...,sora,speedy,doghouse,emanate,meanwhile,ardent,c,inflater,blueprint,slaughter
0,98,47,62,72,69,WY,58,alan,80,submit,...,2,13,sweaty,nuptial,Nashua,69,barre,11,42,66
1,23,54,14,7,50,29,65,girlish,2,devolve,...,strategic,Carlisle,hard,slimy,73,45,erode,14,vast,74
2,Madison,58,39,79,grave,15,withe,79,directrices,interstitial,...,Katharine,49,eke,15,tug,goshawk,89,realty,twig,perspire
3,53,5,96,82,jury,59,62,15,56,Winnie,...,71,testy,81,Kobayashi,52,67,shortfall,3,commandant,verandah
4,97,mash,emittance,eigenvector,cherry,12,55,salsify,brainstorm,Verdi,...,23,22,43,Montgomery,22,conceal,exact,bridgework,76,17

In [11]:
with open('file_to_parse.csv','w') as fil:
    for col in df.columns[:-1]:
        fil.write(col+', ')
    fil.write(df.columns[-1])
    fil.write("\n")
    for indx in range(df.shape[0]):
        fil.write(str(df.at[indx,df.columns[0]])+" : ")
        for col in range(1,df.shape[1]-1):
            fil.write(str(df.at[indx,df.columns[col]])+" | ")
        fil.write(str(df.at[indx,df.columns[df.shape[1]-1]]))
        fil.write("\n")

!cat file_to_parse.csv